<!DOCTYPE html>
<html lang="en"
      xmlns:th="www.thymeleaf.org"
      xmlns:layout="www.ultraq.net.nz/tymeleaf/layout"
      layout:decorate="layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"

>
<head>
    <meta charset="UTF-8">
    <title>Products</title>
</head>
<body>
<div class="p-3" layout:fragment="content">
    <div class="p-3" sec:authorize="hasRole('ADMIN')">
        <a class="btn btn-light" th:href="@{/admin/newProduct}">New Product</a>
    </div>
    <table class="table">
        <thead>
            <th>ID</th>
            <th>Nom</th>
            <th>Price</th>
            <th>Quantity</th>
        </thead>
        <tbody>
            <tr th:each="p:${productList}">
                <td th:text="${p.id}"></td>
                <td th:text="${p.name}"></td>
                <td th:text="${p.quantity}"></td>
                <td th:text="${p.price}"></td>
                <td sec:authorize="hasRole('ADMIN')">
                    <form method="post" th:action="@{/admin/delete(id=${p.id})}">
                        <input type="submit" value="Delete" class="btn btn-danger">
                    </form>
                </td>
                <td sec:authorize="hasRole('ADMIN')">
                    <a class="btn btn-danger" th:href="@{/admin/updateProduct(id=${p.id})}">update</a>
                </td>

            </tr>
        </tbody>
    </table>
</div>
</body>
</html>